<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Storyblok Flask Demo</title>
</head>

<body>
  <h1>Blog</h1>
  {% for post in blog_posts %}
    <h2>{{post.title}}</h2>
    <p>Created: {{post.create_date.strftime('%Y-%b-%d')}}</p>
    {% if post.tags %}
      <p>Tags: <em>{% for tag in post.tags %}{{tag}} {% endfor %}</em></p>
    {% endif %}
    {% for block in post.content_blocks %}
      {% if block.block_type == 'text' %}
        <p>{{block.text|markdown}}</p>
      {% else %}
        <img src="{{block.url}}" />
        <p><em>{{block.caption}}</em></p>
      {% endif %}
    {% endfor %}
    <hr />
  {% endfor %}
</body>
